<div *ngIf="loadingService.loading; else elseBlock" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
<ng-template #elseBlock>
  <div class="container" style="margin-top: 20px;">
    <button class="btn btn-danger mb-2" routerLink="/admin/products/add">Add new product</button>
    <geszeft-product-filter (search) = "onSearch()"></geszeft-product-filter>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'text-danger': isPriceValid(product.price) }">
          <td>{{ product.id }}</td>
          <td> {{ product.name }}</td>
          <td> {{ product.price | currency }}</td>
          <td>
            <button class="btn btn-primary" routerLink="{{product.id}}"> Show details</button>
            <button class="btn btn-danger" (click)="onEditClick(product)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination [totalItems]="productsCount" [itemsPerPage]="pageLimit" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</ng-template>
